@charset "UTF-8";

.works-list {
  margin-bottom: 120px;
}

.works-list li {
  display: flex;
  align-items: center;
  /* border-top: solid 1px #999; */
}

.works-list li .img {
  width: 50%;
}

.works-list li .img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.works-list li .text {
  width: 50%;
  padding: 0 5%;
}

.works-list li .text .name {
  font-weight: 500;
  margin-bottom: 40px;
}

.works-list li .text .info {
  margin-bottom: 40px;
}

.works-list li .text .info .item {
  display: flex;
  font-size: 14px;
  margin-bottom: 5px;
}

.works-list li .text .info .item dt {
  margin-right: 5px;
}


.works-list li .text .modal-open {
  width: 130px;
  background-color: #1f1f1f;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  padding: 10px 15px;
  position: relative;
}

.works-list li .text .modal-open img {
  max-width: 16px;
  position: absolute;
  top: 11px;
  right: 11px;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 50%);
  padding: 10px;
  text-align: center;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 20;
}

.modal-container.active {
  opacity: 1;
  visibility: visible;
}

.modal-bg {
  width: 65%;
  background-color: #fff;
  padding: 20px 20px;
  margin: 0 auto;
  position: relative;
}

.modal-name {
  margin-bottom: 2px;
  text-align: center;
}

.modal-name--mobile {
  font-size: 12px;
}

.modal-mainvisual {
  width: 80%;
  max-width: 800px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 5px;
  width: 40px;
  height: 40px;
  color: #fff;
  cursor: pointer;
}

.modal-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modal-img li {
  width: 10%;
  padding: 10px;
}

.modal-img li img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


/*------------------------------------------------モバイル------------------------------------------ */
@media screen and (max-width: 767px) {
  .works-list {
    margin-bottom: 60px;
  }

  .works-list li {
    flex-direction: column;
  }

  .works-list li .img {
    width: 100%;
  }

  .works-list li .img img {
    height: auto;
  }

  .works-list li .text {
    width: 100%;
    padding: 20px;
  }

  .works-list li .modal-mainvisual {
    padding: 40px 20px;
  }

  .modal-bg {
    width: 96%;
    margin: 20px auto;
    padding: 12px;
  }

  .modal-mainvisual {
    width: 100%;
    margin-bottom: 8px;
  }

  .modal-img {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 6px;
    padding: 6px;
  }

  .modal-img li {
    width: 25%;
  }

  /* 4列 */
  .modal-img li img {
    height: 64px;
  }
}